.gameContainer {
    width: 306px;
    height: 306px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gameSquare {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.resetButton {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 10px;
}